.container{

    width:min(1440px,92%);

    margin:auto;

}

.section{

    padding:80px 0;

}

.flex{

    display:flex;

}

.grid{

    display:grid;

}

.hidden{

    display:none;

}